.four{
    width: 100%;
    background-color:#F7FDFF;
    height: 484px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
}

.four .container{
    width: 88%;
    height: 297px;
    background-color: #fff;
    padding: 50px 40px;
    border: 2px solid #CED4DA;
    border-radius: 10px;
}

.four .container .upper{
    display: flex;
    margin-bottom: 30px;
}

.four .container .upper img{
    width: 20px;
    object-fit: contain;
}

.four .container .upper h1{
    font-size: 24px;
    margin-left: 30px;
}

.four .container p{
    margin-bottom: 30px;
    width: 85%;
}


.four .container button{
    width: 122px;
    height: 40px;
    border: 1px solid #8064A2;
    border-radius: 10px;
    font-weight: 700;
    color: #8064A2;
    background: #fff;
}
